.git
.gitignore
README.md
.idea
.vscode
*.log
*.md
*.txt
!go.mod
!go.sum
vendor
node_modules
.hz
.gradle
build
tmp
temp
*.local.yml
dumped_hertz_remote_config.json
app.exe
debug.log
output
static/avatars
static/videos
static/covers